@charset "UTF-8";
[copy-attr="yes"]:hover {box-shadow: 0px 2px 17px 4px #999;}
.colgroup{width:100%;}
/*#contents{padding:70px 0 100px;}*/
.tab_menu + #contents{padding-top: 20px;}
.box{position:relative; margin-bottom:60px; border-radius:5px; background:linear-gradient(135deg, #f5fef7 0%,#f0fbff 100%);}
.box:before{display:inline-block; position:absolute; top:40px; left:60px; width:90px; height:90px; border-radius:34px; background:#299a44; box-shadow:6px 10px 20px 0px rgba(41, 154, 68, 0.15); content:'';}
.box:after{display:inline-block; position:absolute; top:67px; left:84px; width:44px; height:38px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -20px -20px; content:'';}
.box.type2:after{top:65px; width:42px; height:40px; background: url("../../..../../../site/coc/images/template/box_icon_type2.png") no-repeat;}
.box.type3:after{top:63px; width:46px; height:45px; background: url("../../..../../../site/coc/images/template/box_icon_type3.png") no-repeat;}

.box .box_inner{min-height:170px; padding:37px 0 35px 190px; box-sizing:border-box;}
.box .title{margin-bottom:13px; color:#299a44; font-size:22px; font-weight:500; letter-spacing: -0.035em;}
.box .text{letter-spacing:-0.025em;}
.box .btn{display:inline-block; margin-bottom: 5px; margin-top:54px; width: auto; height: auto; padding: 4px 29px 4px 28px; font-size: 15px;}
.box .btn.type1.download:after{background:url("../../..../../../site/coc/images/template/btn_down_icon.png") no-repeat;}

.notice_box{overflow:hidden; position:relative; min-height:130px; margin-top:30px; padding:4px; border-radius:5px; box-sizing:border-box;}
.notice_box .box_inner{position:relative; z-index:1; padding:30px; border-radius:2px; background:#fff;}
.notice_box:after{display:block; position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:linear-gradient(135deg, #ffeee4 0%,#fff4c1 100%); content:'';}
.notice_box p{margin:0;}
.notice_box ul{margin:0; padding:0 20px;}
.notice_box ul li:before{top:14px; width:5px; height:2px; background:#9ca3bb;}
.notice_box.type2:after{background:linear-gradient(135deg, #dcf2ff 0%,#dff4de 100%);}
@media all and (max-width:1000px){
    .box .box_inner{height:auto; min-height:170px; padding:30px 30px 30px 130px;}
    .box:before{left:20px; transform:scale(0.8)}
    .box:after{left:42px; transform:scale(0.8);}
}
@media all and (max-width:640px){
    .box:before, .box:after{display:none;}
    .box .box_inner{padding:30px;}
    .notice_box{min-height:auto;}
    .notice_box .box_inner{padding:20px;}
}

/* 타이틀 */
h3{position:relative; margin-top:40px; margin-bottom:40px; padding-left:12px; color:#222; font-size:30px; font-weight:500; line-height:32px; letter-spacing:-0.035em;}
h3:before{display:inline-block; position:absolute; top:-10px; left:0; z-index:-1; width:25px; height:26px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -84px -20px; content:'';}
h4{position:relative; margin-top:40px; margin-bottom:40px; padding-left:15px; color:#008428; font-size:26px; font-weight:500; line-height:28px; letter-spacing:-0.035em;}
h4:before{display:inline-block; position:absolute; top:-9px; left:3px; z-index:-1; width:25px; height:21px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -20px -79px; content:'';}
h5{position:relative; margin-top:40px; margin-bottom:40px; padding-left:15px; color:#038dd7; font-size:22px; font-weight:500; line-height:26px; letter-spacing:-0.035em;}
h5:before{display:inline-block; position:absolute; top:10px; left:0; z-index:-1; width:10px; height:10px; border-radius:50%; background:#c9ecff; content:'';}
p{color:#444; font-size:16px; font-weight:300; line-height:28px;}
.notice{margin-top:15px;}
.notice:before{display:inline-block; width:19px; height:19px; margin-right:5px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -65px -78px; content:''; transform:translateY(3px);}
.notice.type1{color:#f95901;}
.notice.type2{color:#0099f1;}
.notice.type2:before{width:17px; height:17px; background-position:-166px -20px;}
@media all and (max-width:1000px){
    h3{margin-top:20px; margin-bottom:20px; font-size:27px;}
    h4{margin-top:20px; margin-bottom:20px; font-size:24px;}
    h5{margin-top:20px; margin-bottom:20px; font-size:20px;}
    h5:before{top:6px;}
}
@media all and (max-width:640px){
    h3{font-size:26px;}
    h4{font-size:23px;}
    h5{font-size:18px;}
    h5:before{top:6px;}
}

/* 목록 */
.bu{margin-bottom:40px; color:#444; font-size:16px;}
.bu li{position:relative; padding-left:14px; line-height:28px;}
.bu li:before{display:inline-block; position:absolute; top:12px; left:0; width:5px; height:5px; border-radius:50%; background:#299a44; content:'';}
.bu > li ul{margin-top:3px;}
.bu > li li:before{width:4px; height:4px; background:#6c766e;}
.bu > li li li:before{top:14px; width:5px; height:2px; background:#9ca3bb;}
.bu.dl > li > div{display:inline-block;}
.bu.dl .title{color:#299a44; font-weight:400;}
.bu.dl .title:after{display:inline-block; margin:0 3px 0 5px; content:':';}
.num{margin-bottom:40px;}
.num li{position:relative; padding-left:30px;}
.num .count{display:inline-block; position:absolute; top:6px; left:0; border-radius:50%;}
.num.type1 .count{width:22px; height:22px; background:#13a50c; color:#fff; font-size:13px; font-weight:600; text-align:center; line-height:22px;}
.num.type2 li{font-size:15px;}
.num.type2 .count{width:20px; height:20px; border:1px solid #ffc547; background:#fff9eb; color:#bd8400; font-size:12px; line-height:20px;}
@media all and (max-width:640px){
    .bu li{line-height:25px;}
    .num{margin-bottom:20px;}
    .num li ul, .num li ol{margin-top:8px;}
    .num li{margin-bottom:5px;}
    .num .count{top:2px;}
}

/* 링크 */
.link.blank{position:relative; color:#42424a;}
.link.blank:before{display:inline-block; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#90a294; content:'';}
.link.blank:after{display:inline-block; width:12px; height:12px; margin-left:5px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -203px -50px; content:''; vertical-align:middle;}

/* 테이블 */
.table_title{margin-top:70px; margin-bottom:4px; font-size:25px;}
.table_unit{color:#666; font-size:15px; text-align:right;}
.table{width:100%; border-top:1px solid #33c39a; border-bottom:1px solid #b5c2be; font-size:16px;}
.table thead th{padding:10px 0; border-bottom:1px solid #9ad4c3; background:#e9f5f1; color:#00784f; font-size:16px; font-weight:400; vertical-align: middle;}
.table thead th + th{border-left:1px solid #9ad4c3;}
.table tbody tr{border-bottom:1px solid #cce2db;}
.table tbody tr:last-child{border-bottom:0;}
.table tbody th{padding:10px 26px; background:#f8fcfb; color:#364f47; font-weight:300; text-align:left; vertical-align:middle;}
.table tbody td{padding:10px 26px; border-left:1px solid #cce2db; color:#444; vertical-align:middle;}
/*
.table tbody td:nth-of-type(1){text-align:left;}
.table tbody td:nth-of-type(2){text-align:center;}
.table tbody td:nth-of-type(3){text-align:right;}*/
.table.type2 tbody th{color:#00784f; font-weight:400;}
@media all and (max-width:640px){
    .table_unit{font-size:13px;}
    .table tbody th{padding:10px;}
    .table tbody td{padding: 10px 5px;}
    .table tbody td:nth-of-type(1), .table tbody td:nth-of-type(2), .table tbody td:nth-of-type(3){text-align:center;}

    table.table.responsive thead{display:none;}
    table.table.responsive colgroup{display:none;}
    table.table.responsive tbody tr{display:block; position:relative;}
    table.table.responsive tbody tr:after{display:block; visibility:hidden; clear:both; height:0; content:".";}
    table.table.responsive tbody tr:nth-child(odd){background:#f8fcfb;}
    table.table.responsive tbody td{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; box-sizing:border-box;}
    table.table.responsive tbody th{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:middle;}
    table.table.responsive tbody tr:first-child td, table.table.responsive tbody tr:first-child th{border-top:none;}
    table.table.responsive thead + tbody th:before, table.table.responsive tbody td:before{display:inline; content:attr(data-content)' :';}{display:block; position:relative;}
    table.table.responsive tfoot tr:after{display:block; visibility:hidden; clear:both; height:0; content:".";}
    table.table.responsive tfoot tr:nth-child(odd){background:#f8f8f8;}
    table.table.responsive tfoot td{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; box-sizing:border-box;}
    table.table.responsive tfoot th{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:middle;}
    table.table.responsive tfoot tr:first-child td, table.table.responsive tfoot tr:first-child th{border-top:none;}
    table.table.responsive tfoot th:before, table.table.responsive tfoot td:before{display:inline; content:attr(data-content)' :';}
}

/* 버튼 */
.btn{display:inline-block; width:180px; height:50px; border-radius:5px; color:#444; font-size:16px; font-weight:300;}
.btn.type1{border:1px solid #299a44; background:#fff;}
.btn.type2{background:#299a44; color:#fff;}
.btn.type3{border:1px solid #ffe017; background:#fffbe1;}
.btn.type4{background:#ffc000;}
.btn.type5{background:linear-gradient(135deg, #2a9bd7 0%,#0c52c5 100%); color:#fff;}
.btn.type6{background:#0051c6; box-shadow:0px 5px 15px 0px rgba(0, 81, 198, 0.2); color:#fff;}
.btn.small{width:125px; height:40px; font-size:15px;}
.btn.link:after{display:inline-block; width:15px; height:10px; margin-left:12px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -166px -157px; content:'';}
.btn.download:after{display:inline-block; width:17px; height:18px; margin-bottom:2px; margin-left:12px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -94px -119px; content:''; vertical-align:middle;}

/* 인풋박스 / 셀렉트박스 / 체크박스 / 라디오버튼 */
.input_wrap{display:inline-block; margin-bottom:10px;}
.input_wrap + .input_wrap{margin-left:10px;}
.input_wrap input{height:45px; padding:0 20px; border:1px solid #b8c4bb; border-radius:5px; font-weight:300; box-sizing:border-box;}
.input_wrap input:disabled{border-color:#c8d6cb; background:#fffbe1; color:#9a9990;}
.select_box{position:relative; width:190px; margin-bottom:11px;}
.select_box .select_btn{position:relative; width:100%; height:45px; padding:0 20px; border:1px solid #b8c4bb; border-radius:5px; background:#fff; color:#444; font-weight:300; text-align:left;}
.select_box .select_btn:after{display:inline-block; position:absolute; top:50%; right:20px; width:10px; height:7px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -193px -72px; content:''; transform:translateY(-50%);}
.select_box .select_list{display:none; position:absolute; top:42px; z-index:1; width:calc(100% - 2px); border:1px solid #b8c4bb; border-top:0; border-radius:0 0 5px 5px; background:#fff;}
.select_box .select_list .select_item{padding:7px 20px; cursor:pointer;}
.select_box .select_list .select_item:hover{background:#fff7c1; color:#644c00;}
.select_box .select_btn.active{z-index:2;color:#644c00;}
.select_box .select_btn.active:before{display:inline-block; position:absolute; top:-1px; left:-1px; width:calc(100% - 2px); height:calc(100% - 1px); border:2px solid #ffc000; border-radius:5px;}
.select_box .select_btn.active:after{background-position:-193px -99px;}
.select_wrap{position:relative; width:190px; margin-bottom:11px;}
.select_wrap:after{display:inline-block; position:absolute; top:50%; right:20px; width:10px; height:7px; background:url("../../../site/coc/images/sprite/sprite.png") no-repeat -193px -72px; content:''; transform:translateY(-50%);}
select{position:relative; width:100%; height:45px; padding:0 20px; border:1px solid #b8c4bb; border-radius:5px; background:#fff; font-weight:300; text-align:left; appearance:none;}
select option{font-weight:300;}
.check_box{margin-top:20px;}
.check_box input{display:none;}
.check_box input + label{position:relative; padding-left:30px;}
.check_box input + label:before{display:inline-block; position:absolute; top:50%; left:0; width:23px; height:23px; border:1px solid #b8c4bb; border-radius:3px; content:''; transform:translateY(-50%);}
.check_box input:checked + label:before{border-color:#028de6; background:#028de6 url("../../../site/coc/images/sprite/sprite.png") no-repeat -127px -114px;}
.check_box input:disabled + label{cursor:default;}
.check_box input:disabled + label:before{background:#f5f5fa;}
.radio_box{margin-top:20px;}
.radio_box input{display:none;}
.radio_box input + label{position:relative; padding-left:30px;}
.radio_box input + label:before{display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; border:1px solid #b8c4bb; border-radius:50%; content:''; transform:translateY(-50%);}
.radio_box input:checked + label:after{display:inline-block; position:absolute; top:50%; left:7px; width:8px; height:8px; border-radius:50%; background:#028de6; content:''; transform:translateY(-50%);}
.radio_box input:disabled + label:before{background:#f5f5fa;}

@media all and (max-width:640px){
    .table_scroll{overflow:auto; max-width:100%;}
    .table_scroll table{min-width:800px;}
}

/* 텍스트 정렬 */
.text_center{text-align:center; }
.text_right{text-align:right; }
.text_left{text-align:left; }
.vertical_top{vertical-align:top; }
.vertical_middle{vertical-align:middle; }
.vertical_bottom{vertical-align:bottom; }

/* margin */
.margin_0{margin:0 !important; }
.margin_10{margin:10px !important; }
.margin_20{margin:20px !important; }
.margin_30{margin:30px !important; }

.margin_t_0{margin-top:0 !important; }
.margin_t_5{margin-top:5px !important; }
.margin_t_10{margin-top:10px !important; }
.margin_t_15{margin-top:15px !important; }
.margin_t_20{margin-top:20px !important; }
.margin_t_25{margin-top:25px !important; }
.margin_t_30{margin-top:30px !important; }
.margin_t_35{margin-top:35px !important; }
.margin_t_40{margin-top:40px !important; }
.margin_t_45{margin-top:45px !important; }
.margin_t_50{margin-top:50px !important; }
.margin_t_60{margin-top:60px !important; }

.margin_r_0{margin-right:0 !important; }
.margin_r_5{margin-right:5px !important; }
.margin_r_10{margin-right:10px !important; }
.margin_r_15{margin-right:15px !important; }
.margin_r_20{margin-right:20px !important; }
.margin_r_25{margin-right:25px !important; }
.margin_r_30{margin-right:30px !important; }
.margin_r_35{margin-right:35px !important; }
.margin_r_40{margin-right:40px !important; }
.margin_r_45{margin-right:45px !important; }
.margin_r_50{margin-right:50px !important; }

.margin_b_0{margin-bottom:0 !important; }
.margin_b_5{margin-bottom:5px !important; }
.margin_b_10{margin-bottom:10px !important; }
.margin_b_15{margin-bottom:15px !important; }
.margin_b_20{margin-bottom:20px !important; }
.margin_b_25{margin-bottom:25px !important; }
.margin_b_30{margin-bottom:30px !important; }
.margin_b_35{margin-bottom:35px !important; }
.margin_b_40{margin-bottom:40px !important; }
.margin_b_45{margin-bottom:45px !important; }
.margin_b_50{margin-bottom:50px !important; }

.margin_l_0{margin-left:0 !important; }
.margin_l_5{margin-left:5px !important; }
.margin_l_10{margin-left:10px !important; }
.margin_l_15{margin-left:15px !important; }
.margin_l_20{margin-left:20px !important; }
.margin_l_25{margin-left:25px !important; }
.margin_l_30{margin-left:30px !important; }
.margin_l_35{margin-left:35px !important; }
.margin_l_40{margin-left:40px !important; }
.margin_l_45{margin-left:45px !important; }
.margin_l_50{margin-left:50px !important; }

/* padding */
.padding_0{padding:0 !important; }
.padding_10{padding:10px !important; }
.padding_20{padding:20px !important; }
.padding_30{padding:30px !important; }

.padding_t_0{padding-top:0 !important; }
.padding_t_5{padding-top:5px !important; }
.padding_t_10{padding-top:10px !important; }
.padding_t_15{padding-top:15px !important; }
.padding_t_20{padding-top:20px !important; }
.padding_t_25{padding-top:25px !important; }
.padding_t_30{padding-top:30px !important; }
.padding_t_35{padding-top:35px !important; }
.padding_t_40{padding-top:40px !important; }
.padding_t_45{padding-top:45px !important; }
.padding_t_50{padding-top:50px !important; }

.padding_r_0{padding-right:0 !important; }
.padding_r_5{padding-right:5px !important; }
.padding_r_10{padding-right:10px !important; }
.padding_r_15{padding-right:15px !important; }
.padding_r_20{padding-right:20px !important; }
.padding_r_25{padding-right:25px !important; }
.padding_r_30{padding-right:30px !important; }
.padding_r_35{padding-right:35px !important; }
.padding_r_40{padding-right:40px !important; }
.padding_r_45{padding-right:45px !important; }
.padding_r_50{padding-right:50px !important; }

.padding_b_0{padding-bottom:0 !important; }
.padding_b_5{padding-bottom:5px !important; }
.padding_b_10{padding-bottom:10px !important; }
.padding_b_15{padding-bottom:15px !important; }
.padding_b_20{padding-bottom:20px !important; }
.padding_b_25{padding-bottom:25px !important; }
.padding_b_30{padding-bottom:30px !important; }
.padding_b_35{padding-bottom:35px !important; }
.padding_b_40{padding-bottom:40px !important; }
.padding_b_45{padding-bottom:45px !important; }
.padding_b_50{padding-bottom:50px !important; }

.padding_l_0{padding-left:0 !important; }
.padding_l_5{padding-left:5px !important; }
.padding_l_10{padding-left:10px !important; }
.padding_l_15{padding-left:15px !important; }
.padding_l_20{padding-left:20px !important; }
.padding_l_25{padding-left:25px !important; }
.padding_l_30{padding-left:30px !important; }
.padding_l_35{padding-left:35px !important; }
.padding_l_40{padding-left:40px !important; }
.padding_l_45{padding-left:45px !important; }
.padding_l_50{padding-left:50px !important; }

/* width */
.w5p{width:5% !important; }
.w10p{width:10% !important; }
.w15p{width:15% !important; }
.w20p{width:20% !important; }
.w25p{width:25% !important; }
.w30p{width:30% !important; }
.w35p{width:35% !important; }
.w40p{width:40% !important; }
.w45p{width:45% !important; }
.w50p{width:50% !important; }
.w55p{width:55% !important; }
.w60p{width:60% !important; }
.w65p{width:65% !important; }
.w70p{width:70% !important; }
.w75p{width:75% !important; }
.w80p{width:80% !important; }
.w85p{width:85% !important; }
.w90p{width:90% !important; }
.w95p{width:95% !important; }
.w100p{width:100% !important; }
