@charset "UTF-8";

/* header */
@media all and (min-width:1001px){
    .lnb{transition:height 0s .25s ease-in-out;}
}

#container{position:relative; font-family:'WantedSans', 'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
@media all and (min-width:641px){
    #container{font-size:20px;}
}

/* colgroup */
.colgroup{position:relative; margin-bottom:30px;}
@media all and (min-width:1001px){
    .colgroup{transition:padding-top 0s .25s ease-in-out;}
}
@media all and (max-width:1000px){
    .colgroup{padding-right:0; padding-left:0;}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-bottom:80px;}
@media all and (max-width:1000px){
    #contents{min-height:400px; margin-bottom:60px;}
}
@media all and (max-width:640px){
    #contents{min-height:300px; margin-bottom:50px;}
}

/* 서브헤드 */
.sub_head{position:relative; }
.sub_head:before{display: block; position: absolute; top:59px; left: 50%; z-index: -1; width: 100vw; height:calc(100% - 29px); background-color: #f4f8fe; transform: translateX(-50%);}
.sub_head .sub_head_wrap{position:relative; font-size:0; line-height:0;}
.sub_head .sub_title{display:block; position:relative; height:232px; padding-top:78px; text-align: center;}
.sub_head .sub_title h2{position:relative; font-family: 'Tmoney'; font-size:56px; line-height: 76px; font-weight: 800; color: #0d1527; }
@media all and (max-width:1000px){
    .sub_head:before{top: 0; height: 100%;}
    .sub_head .sub_title{height: 180px; padding-top: 85px;}
    .sub_head .sub_title h2{font-size:34px; line-height:34px;}
}
@media all and (max-width:640px){
    .sub_head{z-index: 11;}
    .sub_head .sub_title{height: 160px; padding-top: 75px;}
    .sub_head .sub_title h2{font-size:26px; line-height:26px;}
}
@media all and (max-width:480px){
    .sub_head .sub_title{height:auto; padding-top: 20px; padding-bottom: 20px;}
    .sub_head .sub_title h2{font-size:21px; line-height:21px; text-align: left;}
}


/* 3차, 4차 탭 */
.sub_head_tab{position: relative; top:-30px; left: 0; right:0; margin:0 auto 30px; text-align: center;}
.sub_head_tab:before{display: block; position: absolute; top: 0; left: 50%; width: 100vw; height:100%; background-color: #f4f8fe; transform: translateX(-50%);}
.sub_head_tab .tab .tab_select{display: none;}
.sub_head_tab .tab{}
.sub_head_tab .tab .tab_panel{display: block; position: relative; width: 100%;}
.sub_head_tab .tab .tab_list{display: block; font-size:0; line-height: 0; overflow: hidden; text-align: center;}
.sub_head_tab .tab .tab_item{display: inline-block; position: relative; max-width: 250px; padding: 0 20px; vertical-align: top;}
.sub_head_tab .tab .tab_item:before{display: block; position: absolute; top: 0; left: 0; width: 100%; height: 46px; border-radius: 50px; background-color: #fff;}
.sub_head_tab .tab .tab_item + .tab_item{margin-left: 10px;}
.sub_head_tab .tab .tab_item .tab_button{display: block; position: relative; width: 100%; height:46px; text-align: center;}
.sub_head_tab .tab .tab_item .tab_button span{display:inline-block; vertical-align:middle; word-break:break-all; font-family: 'WantedSans'; font-size: 19px; line-height: 46px; color: #525a6b;}
.sub_head_tab .tab .tab_item.active:before{background-color: #5188f5;}
.sub_head_tab .tab .tab_item.active .tab_button span{color: #fff;}
.sub_head_tab .tab .tab_depth6{display: none;position: relative; text-align: center;}
.sub_head_tab .tab .tab_item.active .tab_depth6{display: block; padding:33px 0 5px; }
.sub_head_tab .tab .tab_item.active .tab_depth6_item{display: inline-block; position: relative; margin:0 19px;}
.sub_head_tab .tab .tab_item.active .tab_depth6_item:before{display: none; position: absolute; top:3px; right: -10px; width:6px; height: 6px; border-radius: 50%; background-color: #5188f5; }
.sub_head_tab .tab .tab_item.active .tab_depth6_item.active:before{display: block;}
.sub_head_tab .tab .tab_item.active .tab_depth6_item .tab_depth6_anchor{font-family:'WantedSans'; font-size:18px; line-height: 20px; letter-spacing: -0.02em; font-weight: 500; color: #808799;}
.sub_head_tab .tab .tab_item.active .tab_depth6_item:hover .tab_depth6_anchor,
.sub_head_tab .tab .tab_item.active .tab_depth6_item.active .tab_depth6_anchor{color: #5188f5;}


@media all and (max-width: 1000px) {
    .sub_head_tab{position: relative; top: auto; margin-top: 20px; margin-bottom: 30px; border: 1px solid rgba(81, 136, 245, 0.5); border-radius: 10px; overflow: hidden;}
    .sub_head_tab .tab .tab_list{background-color: #fff;}
    .sub_head_tab .tab .tab_item + .tab_item{margin-left: 0;}
    .sub_head_tab .tab .tab_item:before{display: none;}
    .sub_head_tab .tab .tab_item .tab_button{height:auto; padding: 15px 0;}
    .sub_head_tab .tab .tab_item .tab_button span{font-size: 18px; line-height: 24px;}
    .sub_head_tab .tab .tab_item.active .tab_button span{color: #5188f5}
    .sub_head_tab .tab .tab_item.active .tab_depth6{padding: 15px 0;}
    .sub_head_tab .tab .tab_depth6:before{display:block; position:absolute; top:0; bottom:0; left:50%; width:103vw; transform: translateX(-50%); background-color:#fafafa;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item:before{top: 0;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item .tab_depth6_anchor{font-size: 16px;}

}
@media all and (max-width: 640px) {
    .sub_head_tab{overflow: visible; border: none;}
    .sub_head_tab .tab .tab_list{display:block; width:100%; margin-left:0; margin-right:0; margin-top:0; padding-bottom:10px; overflow: hidden;}
    .sub_head_tab .tab .tab_select{display:block; position:relative; width:100%; padding:17px 30px 17px 25px; border-radius:7px; background-color:#525a6b; color:#fff; font-size:16px; text-align:left; line-height:16px; transition:border-radius .25s ease-in-out}
    .sub_head_tab .tab .tab_panel{opacity:0; visibility:hidden; position:absolute; top:0; left:0; right:0; padding:0 1px 1px; border-radius:0 0 7px 7px; transition-property:opacity,visibility,top; transition-duration:.25s; transition-timing-function:ease-in-out}
    .sub_head_tab .tab .tab_item{display:block; position:relative; width:100%; max-width:100%; margin-top:0; margin-left:0; padding:0; border-radius:0; border-top:0;  text-align:left}
    .sub_head_tab .tab .tab_item:before{display: block; position: absolute; top: 16px; left: 15px; width: 4px; height: 4px;border-radius: 50%; background-color: #525a6b;}
    .sub_head_tab .tab .tab_item + .tab_item{margin-left: 0;}
    .sub_head_tab .tab .tab_item .tab_button{width:100%; height:auto; padding:7px 15px 7px 25px; text-align: left;}
    .sub_head_tab .tab .tab_button:hover{color:#4d4d4d}
    .sub_head_tab .tab .tab_item .tab_button span{font-size: 16px; font-weight: 500;}

    .sub_head_tab .tab .tab_depth6{padding:15px; text-align: left;}
    .sub_head_tab .tab .tab_depth6:before{display: none;}
    .sub_head_tab .tab .tab_item.active .tab_depth6{padding: 15px 25px; background-color: #fafafa;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item{display: block; margin: auto;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item .tab_depth6_anchor{display: block; width: 100%; padding: 5px 10px 5px 15px;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item:before{display: block; top:14px; right: auto; left: 0; width: 5px; height: 2px; border-radius: 0; background-color: #808799;}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item:hover:before,
    .sub_head_tab .tab .tab_item.active .tab_depth6_item.active:before{background-color: #5188f5}
    .sub_head_tab .tab .tab_item.active .tab_depth6_item .tab_depth6_anchor{font-size: 15px;}

    .sub_head_tab .tab.active .tab_select{border-radius: 7px 7px 0 0;}
    .sub_head_tab .tab.active .tab_panel{opacity:1; visibility:inherit; top:100%; background-color: #fff; border: 1px solid rgba(82, 92, 107, 0.5);}

}


/* 브래드크럼 */
.breadcrumbs{padding-right:572px; padding-left:39px; letter-spacing:-0.025em;}
.breadcrumbs .home{position:absolute; top:0; left:0; z-index:3; width:39px; height:59px; vertical-align:top;}
.breadcrumbs .home:before{display:block; position:absolute; top:0; bottom:0; left:0; width:19px; height:18px; margin: auto 0; background:url('../../../site/www/images/sub/sub_sprite.png') no-repeat left top;}
.breadcrumbs .breadcrumbs_list{overflow:visible;}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; width:25%; vertical-align:top;}
.breadcrumbs .breadcrumbs_item.active{z-index:2;}
.breadcrumbs .home:after,
.breadcrumbs .breadcrumbs_item:not(.active):after{display:block; position:absolute; top:0; right:0; bottom:0; z-index:2; width:1px; height: 18px; margin: auto 0; background-color:#e9ebf2;}
.breadcrumbs .breadcrumbs_item .breadcrumbs_anchor.mobile{display: none;}
.breadcrumbs .breadcrumbs_item .breadcrumbs_select{overflow:hidden; position:relative; z-index:2; width:100%; height:59px; padding-right:40px; padding-left:22px; background-color:#fff; font-family: 'WantedSans'; color:#808799; font-size:18px; font-weight:400; text-align:left; text-overflow:ellipsis; line-height:59px; white-space:nowrap; transition:background-color .25s ease-in-out;}
.breadcrumbs .breadcrumbs_item .breadcrumbs_select:before{display:block; position:absolute; top:0; right:18px; bottom:0; width:14px; height:9px; margin-top:auto; margin-bottom:auto; background:url('../../../site/www/images/sub/sub_sprite.png') no-repeat left -28px; transition:transform .25s ease-in-out;}
.breadcrumbs .breadcrumbs_item.active .breadcrumbs_select:before{transform:rotateX(180deg);}
.breadcrumbs .breadcrumbs_item > ul{display:none; position:absolute; top:0; left:-1px; right:-1px; z-index: 1; padding:77px 25px 28px 25px; border-right:1px solid #e9ebf2; border-bottom:1px solid #e9ebf2; border-left:1px solid #e9ebf2; border-radius: 0 0 10px 10px; background-color:#fff; box-shadow:8px 6px 20px 0 rgba(32,54,121,0.07);}
.breadcrumbs .breadcrumbs_item > ul:before{display:block; position:absolute; top:59px; left:50%; width:0; height:1px; background-color:#444; transform:translateX(-50%); transition:width .25s ease-in-out;}
.breadcrumbs .breadcrumbs_item.active > ul:before{width:calc(100% - 38px);}
.breadcrumbs .breadcrumbs_item > ul > li + li{margin-top:10px;}
.breadcrumbs .breadcrumbs_item > ul > li a{color:#808799; font-size:16px; line-height:22px;}
.breadcrumbs .breadcrumbs_item > ul > li a:hover,
.breadcrumbs .breadcrumbs_item > ul > li.active a{color:#5188f5;}

@media all and (min-width:1001px){
    .breadcrumbs .breadcrumbs_item:hover .breadcrumbs_select{color: #525a6b;}
}

@media all and (max-width:1470px){
    .breadcrumbs{padding-right:130px; padding-left:64px;}
    .breadcrumbs .home{width:64px;}
}

@media all and (max-width:1000px){
    /*.breadcrumbs{padding-right:76px; padding-left: 46px;}
    .breadcrumbs .home{width: 46px;}
    .breadcrumbs .breadcrumbs_item{width: 30%;}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_select{padding-right:27px; padding-left:12px; font-size:16px;}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_select:before{right:10px; transform: scale(0.9);}
    .breadcrumbs .breadcrumbs_item > ul{padding:60px 12px 16px 12px;}
    .breadcrumbs .breadcrumbs_item > ul:before{top:44px;}
    .breadcrumbs .breadcrumbs_item.active > ul:before{width:calc(100% - 24px);}
    .breadcrumbs .breadcrumbs_item > ul > li + li{margin-top:6px;}
    .breadcrumbs .breadcrumbs_item > ul > li a{font-size:15px; line-height:19px;}*/
    .sub_head .sub_head_wrap{position:absolute; top:45px; z-index: 1; width: 100%;}
    .breadcrumbs{padding: 0; text-align: center;}
    .breadcrumbs .home{position: relative; width: 25px; height: 25px; margin-right: 10px;}
    .breadcrumbs .home:before{top:-1px; transform: scale(0.9);}
    .breadcrumbs .home:after{right:-12px; width: 14px; height: 9px; background: url('../../../site/www/images/sub/sub_sprite.png') no-repeat left -28px; transform: rotate(-90deg) scale(0.8);}
    .breadcrumbs .breadcrumbs_list{display: inline-block; margin-left: 3px;}
    .breadcrumbs .breadcrumbs_item{width: auto; padding-right: 20px;}
    .breadcrumbs .breadcrumbs_item:not(.active):after{display: none;}
    .breadcrumbs .breadcrumbs_item:before{display: block; position: absolute; top:0; bottom:0; right:2px; width: 14px; height: 9px; margin: auto 0; background: url('../../../site/www/images/sub/sub_sprite.png') no-repeat left -28px; transform: rotate(-90deg) scale(0.8);}
    .breadcrumbs .breadcrumbs_item:last-child{padding-right: 0;}
    .breadcrumbs .breadcrumbs_item:last-child:before{display: none;}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_anchor.mobile{display: block; font-family: 'WantedSans'; color:#808799; font-size:17px; line-height: 25px; font-weight:400; text-align:left; text-decoration: none;}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_select,
    .breadcrumbs .breadcrumbs_item > ul{display: none;}

}
@media all and (max-width: 640px) {
    .sub_head .sub_head_wrap{top: 40px;}
    .breadcrumbs .home{width: 23px;}
    .breadcrumbs .home:before{top:-3px; transform: scale(0.75);}
    .breadcrumbs .home:after,
    .breadcrumbs .breadcrumbs_item:before{top:-3px; transform: rotate(-90deg) scale(0.7);}
    .breadcrumbs .breadcrumbs_item .breadcrumbs_anchor.mobile{font-size: 15px;}
}
@media all and (max-width: 480px) {
    .breadcrumbs{display: none;}
}

/* 공유, 인쇄 */
.addons{position:absolute; top:20px; right:0; z-index:2; font-size:0; line-height:0;}
.addons button,
.addons a{display:inline-block; position:relative; height:20px; vertical-align:top;}
.addons button{width:21px; border-width:0;}
.addons button:before,
.addons a:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; background-image:url('../../../site/www/images/sub/sub_sprite.png'); background-repeat:no-repeat;}
.addons .addons_item{display:inline-block; position:relative; padding: 0 26px; vertical-align:top;}
.addons .addons_item:last-child{padding-right: 0;}
.addons .addons_item:last-child:before{display:block; position:absolute; top:0; left:0; bottom:0; z-index:2; width:1px; height: 18px; margin: auto 0; background-color:#e9ebf2;}
.addons .share{position:relative;}
.addons .share .addons_button:before{background-position:left -47px;}
.addons .share_panel{opacity:0; visibility:hidden; position:absolute; top:-10px; left:-130px; z-index:1; width: 196px; height: 231px; padding:29px 40px 15px 29px; border:1px solid #dbdfe8; border-radius:15px; background-color:#fff; box-shadow:8px 6px 20px 0 rgba(32,54,121,0.07);  white-space:nowrap; transition-property:opacity,visibility,right; transition-duration:.25s; transition-timing-function:ease-in-out;}
.addons .share_item{display: block; position: relative;}
.addons .share_item + .share_item{margin-top:10px;}
.addons .share_item .share_anchor{display:block; position: relative; height: auto; padding-left: 38px; font-family: 'WantedSans'; font-size:18px; line-height: 26px; letter-spacing: 0; color: #757b8e; }
.addons .share_item.n1 .share_anchor:before{background-position:left -107px;}
.addons .share_item.n2 .share_anchor:before{background-position:left -143px;}
.addons .share_item.n3 .share_anchor:before{background-position:left -179px;}
.addons .share_item.n4 .share_anchor:before{background-position:left -215px;}
.addons .share_item.n5 .share_anchor:before{background-position:left -251px;}
.addons .share_hide{position:absolute; top:15px; right:16px; width:20px; height:20px;}
.addons .share_hide:before{background-position:left -287px;}
.addons .share.active .share_panel{opacity:1; visibility:inherit;}
.addons .print .addons_button:before{background-position:1px -77px;}

@media all and (max-width:1000px){
    .addons{top: 75px; width: 40px; height: 40px; border-radius: 50%; background-color: #fff; box-shadow: 3px 4px 18px 2px rgba(204, 204, 204, 0.25);}
    .addons .addons_item{padding: 0;}
    .addons .addons_item.print{display: none;}
    .addons button{width: 40px; height: 40px;}
    .addons .share .addons_button:before{transform: scale(0.9); background-position: 9px -37px;}
    .addons .share_panel{left:auto; right:0; top: 0; width: 155px; height: 210px; padding:30px 20px 20px;}
    .addons .share_item + .share_item{margin-top: 7px;}
    .addons .share_item .share_anchor{font-size: 16px;}
    .addons .share_hide{top:10px;}
}
@media all and (max-width:640px){
    .addons{top: 60px;}
    .addons .share .addons_button:before{transform: scale(0.8);}
}
@media all and (max-width:480px) {
    .addons {top: -28px;}
}
