.test, .test2 {
  margin-bottom: 0;
  color: #000;
  margin: 0px 0px;
  font-size: 20px;
  font-weight: bold;
}
.test li, .test2 li {
  display: block;
}
.test li ul, .test2 li ul {
  display: block;
}
.test li:last-child, .test2 li:last-child {
  margin-top: 30px;
  margin-left: 10px;
}

.test2 {
  color: #fff;
}
