@charset "UTF-8";
#wrapper{overflow:hidden; position:relative; width:100%; min-width:1600px}
.wrap{position:relative; width:1600px; margin-right:auto; margin-left:auto}
@media all and (max-width:1600px){
    #wrapper{min-width:1300px}
    .wrap{width:1300px}
}
@media all and (max-width:1300px){
    #wrapper{min-width:1000px}
    .wrap{width:1000px}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0}
    .wrap{width:auto; margin-right:0; margin-left:0; padding-right:3%; padding-left:3%}

}

/* gnb */
.gnb{position:relative; z-index:40}
@media all and (min-width: 1001px) {
    .gnb:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:100%; background-color:#fff; transform:translateX(-50%);}
}
@media all and (max-width: 1000px) {
    .gnb{z-index: 1;}
}
/* gnb 사이트 */
.gnb .site{position:relative; font-size:0; line-height:0}
.gnb .site:before{display: block; position: absolute; left: 50%; bottom: 0; width: 100vw; height: 1px; background-color: #e9e9e9; transform:translateX(-50%);}
.gnb .site_item{display:inline-block; position:relative; margin-left:10px; padding-top:18px; padding-bottom:16px; vertical-align: top;}
.gnb .site_item:first-child{margin-left:0}
.gnb .site_item:before{display: block; position: absolute; top: 0; bottom: 0; left:-5px; width: 1px; height: 10px; margin: auto 0; background-color: #cecece;}
.gnb .site_item:nth-child(n + 5):before{display: none;}
.gnb .site_item:first-child:before{display: none;}
.gnb .site_item:nth-child(5):after{display: block; position: absolute; top:10px; left:-14px; width:102px; height:41px; background: url("../../../site/edtotal/images/common/gnb_bg.png") no-repeat;}
.gnb .site_anchor{position:relative; z-index:1; padding:0 11px 0 12px; font-family:'Paperlogy'; color:#000; font-size:15px; line-height:17px; font-weight: 300;}
.gnb .site_item:first-child .site_anchor{padding-left:0;}
.gnb .site_item:hover .site_anchor{font-weight: 500;}
.gnb .site_item:nth-child(5) .site_anchor{top: 4px; font-weight: 500;}


.gnb .site_item:not(.n5):after{opacity:0; visibility:hidden; display: block; position: absolute; bottom:3px; left:calc(50% - 11px); z-index: 30; width: 23px; height: 8px; background: url("../../../site/edtotal/images/common/gnb_site_bg.png") no-repeat;}
.gnb .site_item.n1:after{left:calc(50% - 23px);}
.gnb .site_item.active:after{opacity: 1; visibility: visible;}
.gnb .layer{display: none; position: absolute; top:47px; left: -11px; z-index: 30; width: 150px;}
.gnb .layer .mo_list{display: block; position:relative; padding:12px 12px 13px 14px; border: 1px solid #d7d7d7; border-radius: 6px; background-color: #fff;}
.gnb .layer .mo_list_item{position: relative; padding-left:9px;}
.gnb .layer .mo_list_item:before{display: block; position: absolute; top:13px; left: 0; width:4px; height: 2px; background-color: #bcbcbc;}
.gnb .layer .mo_list_item:hover:before{background-color: #333;}
.gnb .layer .mo_anchor{display: block; position: relative; font-size: 14px; line-height: 26px; letter-spacing: -0.02em; color: #666666;}
.gnb .layer .mo_list_item:hover .mo_anchor{font-weight: 500; color: #333333;}

.gnb .site_item.n4 .layer{left:2px; width: 834px;}
.gnb .site_item.n4 .layer .mo_list{padding: 14px;}
.gnb .layer .half_box{display: inline-block; position: relative; vertical-align: top;}
.gnb .layer .half_box .list_title{display: block; position: relative; margin-bottom: 8px; border-radius: 6px; background-color: #e9e9e9; font-size: 14px; line-height:28px; letter-spacing: -0.02em; color: #333333;}
.gnb .layer .half_box li:hover .list_title{background-color: #c2f1e3;}
.gnb .layer .half_box.left{width: calc(100% - 270px); padding-right: 13px;}
.gnb .layer .half_box.left:before{display: block; position: absolute; top: 0; right: 0; width: 1px; height: 100%; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAAXNSR0IArs4c6QAAABBJREFUGFdj2LRp038GOAAAJiIDFnIFn0YAAAAASUVORK5CYII=");}
.gnb .layer .half_box.left > ul > li {display: inline-block; width: calc((100% - 45px) / 4); margin-right: 15px; margin-bottom: 15px; vertical-align: top;}
.gnb .layer .half_box.left > ul > li:nth-child(4n){margin-right: 0;}
.gnb .layer .half_box.left .list_title{padding-left: 9px;}

.gnb .layer .half_box.right{width: 270px; padding-left: 15px;}
.gnb .layer .half_box.right .list_title{text-align: center;}
.gnb .layer .half_box.right .mo_list_item{display: inline-block; width: 50%; vertical-align: top;}

/* gnb 링크 */
.gnb .link{position:absolute; top:0; right:0; font-size:0; line-height:0}
.gnb .link_item{display:inline-block; position: relative; padding-top:18px; padding-bottom:16px; vertical-align:top}
.gnb .link_item:before{display: block; position: absolute; top: 0; bottom: 0; left:-5px; width: 1px; height: 10px; margin: auto 0; background-color: #cecece;}
.gnb .link_item:first-child:before{display: none;}
.gnb .link_anchor{padding:0 21px 0 12px; font-family:'Paperlogy'; font-size:15px; line-height:17px; font-weight: 300;}
.gnb .link_item:last-child .link_anchor{padding-right: 0;}
.gnb .link_item.login{padding-left: 13px;}
.gnb .link_item.login:before{display: block; position: absolute; top:0; bottom: 0; left: 0; width:18px; height:18px; background:url("../../../site/edtotal/images/common/gnb_sprite.png") no-repeat left top;}
.gnb .link_item:hover .link_anchor{color: #000; font-weight: 500;}
@media all and (max-width:1000px){
    .gnb .site,
    .gnb .link{display: none;}
}
/* 로고 */
#header .group{display:inline-block; position:absolute; z-index:10; top: 56px; left: 0;}
.logo{position:relative; padding-top:30px; padding-bottom:30px}
.logo .logo_anchor{position:relative; z-index:30;}
.logo .logo_anchor .logo_text{display:inline-block; margin-left: 10px; margin-top: 2px; font-family: 'Paperlogy'; font-size: 20px; line-height:24px; font-weight: 600; color:#000; vertical-align: top;}
.logo .logo_anchor .logo_text em{display: block; font-weight: 400; font-size: 15px;}
@media all and (max-width:1000px){
    #header .group{position: relative; top:auto;}
    .logo{z-index:10; padding: 25px 0;}
    .logo .logo_anchor img{width: 53px;}
    .logo .logo_anchor .logo_text{margin-left:8px; font-size: 16px; line-height: 18px;}
    .logo .logo_anchor .logo_text em{font-size: 12px;}
}

/* 나의 신청강좌 */
.header .shortcut{font-size: 0; line-height: 0;}
.header .shortcut .shrotcut_wrap{position: absolute; top:-84px; right: 0; z-index: 30;}
.header .shortcut .shortcut_item{display: inline-block; position: relative; vertical-align: top;}
.header .shortcut .shortcut_anchor{display: block; position: relative; width: 100%; height: 100%;}

.header .shortcut .mypage{width: 155px; height: 38px; border: 1px solid #dedede; border-radius: 50px;}
.header .shortcut .mypage .shortcut_anchor{padding-left: 46px; font-family: 'Paperlogy'; color: #000; font-size:16px; line-height: 38px;}
.header .shortcut .shortcut_anchor:before{display: block; position: absolute; top: 0; bottom: 0; left:19px; width: 18px; height: 17px; margin: auto 0; background:url("../../../site/edtotal/images/common/gnb_sprite.png") no-repeat left -82px;}
.header .shortcut .sitemap{width: 38px; height: 38px; margin-left: 33px;}
.header .shortcut .sitemap .shortcut_anchor:before{left:auto; right:0; width:20px; height:17px; margin:auto; background-position: left -28px;}

.header .shortcut .mypage:hover{border-color: #b8d1f3;}
.header .shortcut .mypage:hover .shortcut_anchor{color: #0552bb;}
.header .shortcut .mypage:hover .shortcut_anchor:before{background-position: left -109px;}
.header .shortcut .sitemap:hover .shortcut_anchor:before{background-position: left -55px;}

@media all and (max-width: 1300px) {
    .header .shortcut .sitemap{margin-left: 10px;}
}
@media all and (max-width: 1000px) {
    .header .shortcut .sitemap{display: none;}
    .header .shortcut .shrotcut_wrap{top:-54px; right:53px;}
    .header .shortcut .mypage{border: none; width: 20px; height: 20px;}
    .header .shortcut .mypage .shortcut_anchor{padding:0; font-size: 0; line-height: 0;}
    .header .shortcut .shortcut_anchor:before{left: 0;}
}
/* 사이트맵 */
.sitemap_wrap{display:none; position:fixed; top:0; left:0; z-index:80; width:100%; height:100%; font-size:0; line-height:0; box-sizing:border-box;}
.sitemap_wrap.active{display:block;}
.sitemap_box{}
.sitemap_box{position:relative; top:86px; width:1600px; height:calc(100vh - 180px); max-height: 800px; padding: 49px 21px 0 99px; margin:0 auto; background-color:#fff; box-shadow:0 0 40px 0 rgba(10,38,107,0.2); border-radius:0 50px;}
.sitemap_box .sitemap_list{max-height:calc(100% - 100px); overflow-y:auto; mask-image:linear-gradient(to bottom, #fff 85%, transparent 100%); -webkit-mask-image: linear-gradient(to bottom, #fff 85%, transparent 100%);}
.sitemap_box .sitemap_list::-webkit-scrollbar{width:8px;}
.sitemap_box .sitemap_list::-webkit-scrollbar-thumb{height:5%; border-radius:100px; background-color:#b2b2b2;}
.sitemap_box .sitemap_list::-webkit-scrollbar-track{background-color:#fff;}
.sitemap_box .sitemap_list.end{-webkit-mask-image:none; mask-image:none;}
.sitemap_box .sitemap_title{display:block; position:relative; padding-left:38px; padding-bottom: 18px; margin-right: 84px; border-bottom:2px solid #333333; font-family: 'Paperlogy'; font-size:30px; line-height:30px; font-weight:600; color:#005aab;}
.sitemap_box .sitemap_title:before{display: block; position: absolute; top:5px; left: 0; width: 22px; height: 19px; background: url("../../../site/edtotal/images/common/sitemap_icon02.png") no-repeat;}
.sitemap_box .sitemap_list{padding-top: 32px; padding-right:71px;}
.sitemap_box .sitemap1_item{display: block; position: relative; padding-bottom: 31px;}
.sitemap_box .sitemap1_item:before{display:block;  position:absolute;  left:0;  bottom:0;  width:100%;  height:1px;  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABVJREFUGFdjZGBgYNi0adN/Pz8/RgAWbgQCAM93XAAAAABJRU5ErkJggg==");}
.sitemap_box .sitemap1_item:last-child:before{display: none;}
.sitemap_box .sitemap1_item .sitemap1_anchor{margin-top:42px; font-family: 'Paperlogy'; font-size: 22px; line-height: 25px; font-weight: 600; color: #000;}
.sitemap_box .sitemap1_item:first-child .sitemap1_anchor{margin-top: 0;}
.sitemap_box .sitemap2_list{margin-top:22px;}
.sitemap_box .sitemap2_item{display:inline-block; position:relative; width:calc((100% - 80px) / 5); padding-bottom:16px; margin-right: 20px; vertical-align: top;}
.sitemap_box .sitemap2_item:nth-child(5n){margin-right: 0;}
.sitemap_box .sitemap2_item .sitemap2_anchor{display: block; position: relative; width: 100%; height: 100%; padding-left: 19px; border-radius: 10px; background-color:#ececec; font-family: 'Paperlogy'; color:#333333; font-size:17px; line-height:46px; font-weight:500; text-decoration:none; word-break:break-all;}

.sitemap_box .sitemap2_item:hover .sitemap2_anchor{background-color:#ddeffe; color:#0552bb;}
.sitemap_box .sitemap2_item.has .sitemap2_anchor:after{display:block; position:absolute; top:0; right:15px; bottom:0; width:9px; height:9px; margin: auto 0;
    background:url("../../../site/edtotal/images/common/gnb_sprite.png") no-repeat left -152px; transition: none;}
.sitemap_box .sitemap2_item.has:hover .sitemap2_anchor:after{background-position: left -136px;}
.sitemap_box .sitemap2_anchor[target='_blank']:after{display:block; position:absolute; top:0; right:15px; bottom:0; width:11px; height:11px; margin: auto 0; background:url("../../../site/edtotal/images/sub/depth1_blank.svg") no-repeat; background-size: contain; transition:none}
.sitemap_box .sitemap2_anchor[target='_blank']:hover:after{ background:url("../../../site/edtotal/images/sub/depth1_blank_b.svg") no-repeat; background-size: contain;}
.sitemap_box .sitemap3_list{margin-top:17px; padding-left: 20px;}
.sitemap_box .sitemap3_item{margin-bottom:7px;}
.sitemap_box .sitemap3_item:first-child{margin-top:0}
.sitemap_box .sitemap3_anchor{display:block; position:relative; z-index:20; padding-left:13px; color:#666666; font-size:16px; line-height:23px; letter-spacing:-0.02em; word-break:keep-all; transition:color 0.25s ease-in-out;}
.sitemap_box .sitemap3_anchor:before{display:block; position:absolute; top:11px; left:0; width:6px; height:2px; background-color:#999999; transition: background-color 0.25s ease-in-out;}
.sitemap_box .sitemap3_anchor:hover{color: #0552bb;}
.sitemap_box .sitemap3_anchor:hover:before{background-color: #0552bb;}
.sitemap_box .sitemap_close{display: inline-block; position: absolute; top:25px; right:26px; width: 50px; height: 50px; border-radius: 50%; background-color: #222222;}
.sitemap_box .sitemap_close:before{display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 18px; height: 17px; margin: auto; background:url("../../../site/edtotal/images/common/sitemap_icon.png") no-repeat; }
@media all and (max-width:1600px) {
    .sitemap_box{width: 1300px;}
    .sitemap_box .sitemap2_item{width: calc((100% - 60px) / 4);}
    .sitemap_box .sitemap2_item:nth-child(5n){margin-right: 20px;}
    .sitemap_box .sitemap2_item:nth-child(4n){margin-right: 0;}
}
@media all and (max-width:1300px) {
    .sitemap_box{width: 1000px; padding-left: 50px;}
    .sitemap_box .sitemap_list{padding-right: 50px;}
    .sitemap_box .sitemap2_item .sitemap2_anchor{padding-left:13px; font-size: 16px;}
    .sitemap_box .sitemap3_anchor{font-size: 15px;}
    .sitemap_box .sitemap3_anchor:before{top: 9px;}
}
@media all and (max-width: 1000px) {
    .sitemap_wrap.active{display: none;}
}

/* 주메뉴 */
@media all and (min-width:1001px){
    .lnb{position:relative; width:100%; height:125px}
    .lnb .wrap{height:100%}
    .lnb .menu{overflow:hidden; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:#fff; transition-property:height}

    /* 메뉴 높이 */
    .lnb .menu .depth2,.lnb .menu.after:after{height:calc(100% - 125px)}

    /* 하단 배경 활성화 */
    .lnb_open .lnb .menu{box-shadow:0 20px 25px 0 rgba(17,6,45,0.15);}

    /* 메뉴 상단 정보 */
    .lnb .menu_header{display:none}

    /* 메뉴 제목 */
    .lnb .menu_title{display:none}

    /* 모바일 tab */
    .lnb .mobile_tab{display: none;}

    /* 1차 메뉴 */
    .lnb .menu .depth1_list{width:100%; padding-right:268px; padding-left: 240px; text-align:right}
    .lnb .menu .depth1_text{display:inline-block; position:relative; padding: 50px 38px 55px; text-align:center; font-family:'Paperlogy'; color:#000; font-size:20px; line-height:20px; font-weight:600; text-decoration:none; transition-property:color}
    .lnb .menu .depth1_text[target='_blank']:after{display:inline-block; width:15px; height:15px; margin-top:2.5px; margin-left:5px; vertical-align:top; background-color:#000}
    .lnb .menu .depth1_text:after{opacity:0; display: block; position: absolute; top:89px; left:-2px; right: 0; width:6px; height:0; margin: auto; background: url("../../../site/edtotal/images/common/menu_icon.png") no-repeat left top; transition:all 0.3s ease-in-out;}
    .lnb .menu .depth1_text:hover:after{opacity:1; height: 18px;}
    .lnb .menu .depth1_text:before{display: block; position: absolute; opacity: 0; bottom: 0; left: 50%; right: 50%; width: 0; height:1px; margin: 0 auto; background-color: #0552bb; transition:all 0.25s cubic-bezier(.25, .46, .450, .94); transition-delay: 0.2s;}
    .lnb .menu .depth1_text:hover:before{opacity:1; left:0; right:0; width: 100%;}

    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.active .depth1_text{text-decoration:none}
    .lnb .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1}

    /* 2차 타이틀 */
    .lnb .menu .depth2{overflow:visible; box-sizing:border-box; transition-property:visibility,opacity}
    .lnb .menu .depth2:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:1px; background-color:#e9e9e9; transform:translateX(-50%)}

    /* 1차메뉴 라인 */
    .lnb .menu .depth2_content{position:relative; padding:34px 100px 46px;}

    /* 2차 메뉴 */
    .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1; z-index:10}
    .lnb .menu .depth2_list{text-align:left}
    .lnb .menu .depth2_item{position:relative; width:calc((100% - 80px) / 5); padding-bottom:14px; margin-right: 20px;}
    .lnb .menu .depth2_item:nth-child(5n){margin-right: 0;}
    .lnb .menu .depth2_text{display:block; position:relative; padding-left: 19px; border-radius: 10px; background-color:#ececec; font-family: 'Paperlogy'; color:#333333; font-size:17px; line-height:46px; font-weight:500; text-decoration:none; word-break:break-all;}
    .lnb .menu .depth2_item.active .depth2_text,
    .lnb .menu .depth2_text:hover{background-color:#ddeffe; color:#0552bb;}
    .lnb .menu .depth2_item.has .depth2_text:after{display:block; position:absolute; top:0; right:15px; bottom:0; width:9px; height:9px; margin: auto 0;
        background:url("../../../site/edtotal/images/common/gnb_sprite.png") no-repeat left -152px; transition: none;}
    .lnb .menu .depth2_item.active .depth2_text:after,
    .lnb .menu .depth2_item.has .depth2_text:hover:after{background-position: left -136px;}

    .lnb .menu .depth2_text[target='_blank']:after{display:block; position:absolute; top:0; right:15px; bottom:0; width:11px; height:11px; margin: auto 0; background:url("../../../site/edtotal/images/sub/depth1_blank.svg") no-repeat; background-size: contain; transition:none}
    .lnb .menu .depth2_item.active .depth2_text[target='_blank']:after,
    .lnb .menu .depth1_item .depth2_text[target='_blank']:hover:after{ background:url("../../../site/edtotal/images/sub/depth1_blank_b.svg") no-repeat; background-size: contain;}
    .lnb .menu .depth2_text span{width: 100%; height: 100%; padding: 6px 30px 7px 13px;}


    /* 3차 메뉴 */
    .lnb .menu .depth1_item.active .depth3{visibility:visible; opacity:1; z-index:10;}
    .lnb .menu .depth3{padding-left: 19px;}
    .lnb .menu .depth3_list{margin-top:17px}
    .lnb .menu .depth3_item{margin-bottom:13px;}
    .lnb .menu .depth3_item:first-child{margin-top:0}
    .lnb .menu .depth3_text{display:inline-block; position:relative; z-index:20; padding-left:13px; color:#666666; font-size:16px; line-height:23px; letter-spacing:-0.02em; word-break:keep-all; transition:color 0.25s ease-in-out;}
    .lnb .menu .depth3_text:before{display:block; position:absolute; top:11px; left:0; width:6px; height:2px; background-color:#999999; transition: background-color 0.25s ease-in-out;}
    .lnb .menu .depth3_text:hover{color: #0552bb;}
    .lnb .menu .depth3_text:hover:before{background-color: #0552bb;}
    .lnb .menu .depth3_text[target='_blank']:after{display:inline-block; position: absolute; top: 5px; width:14px; height:14px; margin-top:3px; margin-left:5px; background:url("/site/public/images/sub/depth2_blank.svg") no-repeat; vertical-align:top; transition:none}
    .lnb .menu .depth3_text[target='_blank']:hover:after{background:url("/site/public/images/sub/depth2_blank_on.svg") no-repeat;}

    /* 4차 메뉴 */
    .lnb .menu .depth4{display:none}

}
@media all and (max-width:1600px) {
    .lnb .menu .depth2_content{padding: 34px 0 46px;}
}
@media all and (max-width:1300px) {
    .lnb .menu .depth1_list{padding-right: 205px;}
    .lnb .menu .depth1_text{padding: 50px 20px 55px; font-size: 18px;}
    .lnb .menu .depth2_item{width: calc((100% - 60px) / 4);}
    .lnb .menu .depth2_item:nth-child(5n){margin-right: 20px;}
    .lnb .menu .depth2_item:nth-child(4n){margin-right:0;}

}

@media all and (max-width:1000px){
    .lnb:before{display: none;}
    /* 메뉴 영역 */
    .lnb .menu{visibility:hidden; overflow-x:hidden; overflow-y:auto; position:fixed; right:-100%; z-index:40; width:345px; height:100%; padding-left: 10px; padding-top:85px; background-color:#0552bb; transition-property:visibility,right; transition-duration:0.25s; transition-timing-function:linear}
    .lnb .menu:before{display: block; position: absolute; top:0; left: 0; z-index: -1; width: 100%; height:15px; background-color:#fff;}
    .lnb .wrap{height:inherit; padding-left:20px; padding-right:20px}

    /* 열기 버튼 */
    .lnb .menu_show{position:absolute; top:0; bottom:0; width:20px; height:20px; right:15px; z-index:30; margin-top:auto; margin-bottom:auto}
    .lnb .menu_show .menu_btn{position:relative; width:inherit; height:inherit;}
    .lnb .menu_show .menu_btn:before{display: block; position: absolute; top: 0; bottom: 0; left:0; right: 0; width: 20px; height: 14px; margin: auto; background:url("../../../site/edtotal/images/common/mobile_sprite.png") no-repeat left top;}

    /* 닫기 버튼 */
    .lnb .menu_hide{position:absolute; top:5px; right:100%; width:30px; height:30px;}
    .lnb .menu_hide .menu_btn{display:block; position:relative; width:inherit; height:inherit; border-radius: 10px; background-color:#012454;}
    .lnb .menu_hide .menu_btn:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:10px; height:10px; margin:auto; background:url("../../../site/edtotal/images/common/mobile_sprite.png") no-repeat left -97px;}
    .lnb_show .menu_hide{right:5px}

    /* 메뉴 상단 */
    .lnb .menu_header{display:block; position:absolute; top:0; left:0; width:100%; padding-top: 15px;}
    .lnb .menu_header:before{display: block; position: absolute; top:15px; left:0; width: 16px; height: 17px; background: url("../../../site/edtotal/images/common/sub_icon01.png") no-repeat;}

    /* lnb 링크 */
    .lnb .link{position:relative; padding:27px 19px; font-size:0; line-height:0}
    .lnb .link_item{display:inline-block; position: relative; padding-right:9px; padding-left:10px; vertical-align:top}
    .lnb .link_item:first-child{padding-left:0}
    .lnb .link_item:first-child:before{display:block; position: absolute; top:3px; right: 0; width: 1px; height:10px; background-color: #fff; opacity: 0.4;}
    .lnb .link_anchor{font-family:'Paperlogy'; color:#fff; font-size:14px; line-height:17px;}


    /* 메뉴 상단 sns */
    .lnb .top_sns{display: inline-block; position: absolute; top:35px; left: 142px;}
    .lnb .top_sns .sns_item{display:inline-block; position:relative; width:30px; height: 30px; margin-right: 7px;}
    .lnb .top_sns .sns_anchor{display: block; position: relative; width: 100%; height: 100%; border-radius: 50%; background-color: #fff;}
    .lnb .top_sns .sns_anchor:before{display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-image: url("../../../site/edtotal/images/common/mobile_sprite.png"); background-repeat: no-repeat;}
    .lnb .top_sns .sns_item:nth-child(1) .sns_anchor:before{width:9px; height:15px; background-position:left -24px;}
    .lnb .top_sns .sns_item:nth-child(2) .sns_anchor:before{width:13px; height:13px; background-position:left -49px;}
    .lnb .top_sns .sns_item:nth-child(3) .sns_anchor:before{width:18px; height:15px; background-position:left -72px;}

    /* 모바일 tab */
    .lnb .mobile_tab{}
    .lnb .mobile_tab .tab_btn_item{display: inline-block; position: relative; width: 50%; vertical-align: top;}
    .lnb .mobile_tab .tab_btn{display:block; position: relative; width: 100%; font-family: 'Paperlogy'; font-size: 16px; line-height:40px; color: #fff; font-weight: 500; text-align: center;}
    .lnb .mobile_tab .tab_btn_item.active .tab_btn{font-weight: 600; font-size: 18px; color: #0552bb;}
    .lnb .mobile_tab .tab_btn:before{display: block; position: absolute; opacity: 0; visibility: hidden; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px 10px 0 0; background-color: #e5effb;}
    .lnb .mobile_tab .tab_btn_item.active .tab_btn:before{opacity: 1; visibility: visible;}

    .lnb .tab_panel_wrap{position: relative; background-color: #e5effb;}
    .lnb .tab_panel_wrap:before{display:block; position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-color: #e5effb;}
    .lnb .tab_panel_wrap .tab_item{display: none;}
    .lnb .tab_panel_wrap .tab_item.active{display: block;}
    .lnb .tab_panel_wrap .tab_item.n2:before{display: block; position: absolute; opacity: 0; visibility: hidden; left: 0; top:0; width: 12px; height: 12px; background: url("../../../site/edtotal/images/common/sub_icon02.png") no-repeat;}
    .lnb .tab_panel_wrap .tab_item.n2.active:before{opacity: 1; visibility: visible;}

    /* 패밀리 사이트 */
    .lnb .m_goto{padding-top: 14px;}
    .lnb .m_goto .goto_item{display:block; position:relative; }
    .lnb .m_goto .goto_item .goto_btn{display:block; position:relative; width: 100%; padding-top:9px; padding-left:0; padding-bottom:8px; font-family: 'Paperlogy'; color:#000; font-size:19px; line-height:23px; font-weight: 600; text-align:left; text-decoration:none; transition-property:font-weight;}
    .lnb .m_goto .goto_item .goto_item_depth2 .goto_btn_2:before,
    .lnb .m_goto .goto_item .goto_btn:before{display: block; position: absolute; top:0; bottom: 0; right: 0; width: 11px; height: 6px; margin: auto 0; background: url("../../../site/edtotal/images/common/mobile_sprite.png") no-repeat left -117px;}
    .lnb .m_goto .goto_item.active .goto_btn:before{transform: rotate(180deg);}
    .lnb .m_goto .goto_item .goto_item_depth2 .goto_btn_2:before{right:10px; width:17px; height:17px; background:url("../../../site/edtotal/images/sub/sub_sprite.png") no-repeat left -45px;}
    .lnb .m_goto .goto_item.active .goto_item_depth2.active .goto_btn_2:before{background-position: left -72px;}
    .lnb .m_goto .goto_item .layer{display: none; position: relative; z-index: 2; padding: 0; background-color: transparent;}
    .lnb .m_goto .goto_item .mo_list{border-top: 1px solid rgba(0, 90, 171, 0.25);}

    .lnb .m_goto .goto_item .goto_item_depth2,
    .lnb .m_goto .goto_item .mo_list_item{display: block; position: relative; border-bottom: 1px solid rgba(0, 90, 171, 0.25);}
    .lnb .m_goto .goto_item .goto_item_depth2 .goto_btn_2,
    .lnb .m_goto .goto_item .mo_list_item .mo_anchor{display: block; position: relative; width: 100%; padding: 13px 40px 13px 10px; font-family: 'Paperlogy'; color:#333; font-size: 18px; line-height: 20px; font-weight: 500; text-align: left;}
    .lnb .m_goto .goto_item .goto_item_depth2.active .goto_btn_2{color:#0552bb; font-size:18px; line-height:20px; font-weight: 600;}
    .lnb .m_goto .goto_item .mo_depth3_list{padding:8px 15px 16px 10px; border-top: 1px solid #347ada;}
    .lnb .m_goto .goto_item .mo_list_item.depth3{display: block; position: relative; padding-left: 10px; margin-top: 10px; border-bottom: 0;}
    .lnb .m_goto .goto_item .mo_list_item.depth3:before{display: block; position: absolute; top: 10px; left: 0; width: 4px; height: 4px; margin: auto 0; background-color: #75a0db;}
    .lnb .m_goto .goto_item .mo_list_item.depth3 .mo_anchor{display: block; position: relative; padding: 0; font-family: 'NotoSans'; font-weight: 400; font-size: 15px; line-height: 20px; letter-spacing: -0.02em; color: #444;}


    /* 1차 메뉴 */
    .lnb .menu .depth1{height:inherit; z-index:10; padding-top: 14px;}
    .lnb .menu .depth1_list{position:relative; min-height:100%; padding-right: 0;}
    .lnb .menu .depth1_text{display:block; position:relative; padding-top:9px; padding-left:0; padding-bottom:8px; font-family: 'Paperlogy'; color:#000; font-size:19px; line-height:23px; font-weight: 600; text-decoration:none; transition-property:font-weight;}
    .lnb .menu .depth1_text:after{display:block; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto}
    .lnb .menu .depth1_text[target='_blank']:after{width:15px; height:15px; background-color:#000; transition:none}
    .lnb .menu .depth1_item.has .depth1_text:after{width:11px; height:6px; background: url("../../../site/edtotal/images/common/mobile_sprite.png") no-repeat left -117px; transition:none}

    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.has.active .depth1_text:after{transform: rotate(180deg);}

    /* 2차 메뉴 */
    .lnb .menu .depth2{transition-property:visibility,opacity}
    .lnb .menu .depth2_content{padding: 0;}
    .lnb .menu .depth2_list{transition-property:padding-top,padding-bottom,border-top-width; border:0 solid rgba(0, 90, 171, 0.25);}
    .lnb .menu .depth2_item{width:100%; transition-property:border-bottom-color}
    .lnb .menu .depth2_text{display:block; position:relative; font-family: 'Paperlogy'; color:#333333;  text-decoration:none; box-sizing:border-box; transition-property:padding-top,padding-bottom,color}
    .lnb .menu .depth2_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}
    .lnb .menu .depth2_text[target='_blank']:after{right:7px; width:0; height:0; margin: auto 0; background: url("../../../site/edtotal/images/sub/depth1_blank.svg") no-repeat;}
    .lnb .menu .depth2_item.has .depth2_text:after{display:block; position:absolute; top:0; bottom:0; right:8px; width:17px; height:17px; margin: auto 0; background: url("../../../site/edtotal/images/sub/sub_sprite.png") no-repeat left -45px;}

    /* 2차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2{right:0; z-index:20}
    .lnb .menu .depth1_item.active .depth2_list{padding-bottom:15px; margin-top: 9px; border-top-width:1px}
    .lnb .menu .depth1_item.active .depth2_item{border-bottom: 1px solid rgba(0, 90, 171, 0.25);}
    .lnb .menu .depth1_item.active .depth2_text{padding: 13px 40px 13px 10px; color:#333333; font-size:18px; line-height:20px; font-weight: 500;}
    .lnb .menu .depth1_item.active .depth2_text:after{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_text[target='_blank']:after{width:17px; height:17px;}
    .lnb .menu .depth1_item.has.active .depth2_item.has.active .depth2_text{color:#0552bb; font-size:18px; line-height:20px; font-weight: 600;}
    .lnb .menu .depth1_item.has .depth2_item.has.active .depth2_text:after{background-position:left -72px;}

    /* 3차 메뉴 */
    .lnb .menu .depth3{transition-property:visibility,opacity,padding-top,padding-bottom}
    .lnb .menu .depth3_list{padding-left:10px; padding-right:15px; border-top: 0 solid #347ada; transition-property:margin-top,padding-top,padding-bottom}
    .lnb .menu .depth3_item{padding-left:10px}
    .lnb .menu .depth3_item:before{display:block; position:absolute; top:0; left:0; width:0; height:0; background-color:#75a0db; transition:none}
    .lnb .menu .depth3_text{display:block; padding-right:25px; color:#444444; letter-spacing:-0.02em; text-decoration:none; transition-property:color,font-weight}
    .lnb .menu .depth3_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}

    /* 3차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_list{padding-top:8px; padding-bottom:16px; margin-top:0; border-top-width:1px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:10px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item:before{top:10px; width:4px; height:4px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active:before{background-color: #0552bb;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text{color:#444444; font-size:15px; line-height:20px; letter-spacing:-0.02em}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth3_text{color:#005aab;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text:after{visibility:visible; opacity:1}


    /* 4차 메뉴 */
    .lnb .menu .depth4{transition-property:visibility,opacity}
    .lnb .menu .depth4_list{padding-right:10px; transition-property:padding-top,padding-bottom; border:0 solid #000}
    .lnb .menu .depth4_item{padding-left:11px}
    .lnb .menu .depth4_item:before{display:block; position:absolute; top:0; left:0; width:0; height:0; background-color:#5a5d6b; transition:none}
    .lnb .menu .depth4_text{display:block; color:#525252; transition:none}
    .lnb .menu .depth4_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}
    .lnb .menu .depth4_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}

    /* 4차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_list{margin-top:10px; padding-top:5px; padding-bottom:5px; border-top-width:1px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item{margin-top:6px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item:before{top:10px; width:5px; height:1px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text{color:#000; font-size:14px; line-height:19px; letter-spacing:-0.03em}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text:after{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text[target='_blank']:after{width:10px; height:10px}

    /* 5차 메뉴 */
    .lnb .menu .depth5{display:none}

    /*
        2단 메뉴 메뉴사용시  multiple 클래스 추가 필요함
        <nav class="menu after eachdown multiple">

        .lnb_show .lnb .menu .depth1_list{padding-right:70%; }
        .lnb .menu .depth1_item{position:static; }
        .lnb .menu .depth2{overflow-x:hidden;  overflow-y:auto;  @include position(absolute, 0, 0, px, px);  width:70%;  height:100%; }
        .lnb .menu .depth2_list{margin-left:10px; }
        */

}

/* 하단 바로가기 */
.footer .footer_box{display: block; position: relative;}
.footer .footer_box:after,
.footer .footer_box:before{display:block; position:absolute; top:0; left:50%; z-index: 1; width:100vw; border-bottom:1px solid #d9d9d9; transform:translateX(-50%);}
.footer .footer_box:after{bottom: 0; top:auto;}
.footer .link{display:inline-block; position:relative; font-size:0; line-height:0; vertical-align: top;}
.footer .link_list{padding-top:28px; padding-bottom:26px}
.footer .link_item{display:inline-block; position:relative; padding-right:31px; padding-left:29px}
.footer .link_item:first-child{padding-left:0;}
.footer .link_item:before{display:block; position:absolute; top:0; bottom:0; right:0; width:3px; height:3px; margin:auto 0; background-color:#ccc; border-radius: 50%;}
.footer .link_item:last-child:before{display:none}
.footer .link_anchor{position:relative; font-size:15px; line-height:17px; letter-spacing:-0.025em; font-weight: 300; text-decoration: none;}
.footer .link_anchor:before{display:block; position:absolute; bottom:-4px; left:0; width:0; height:1px; background-color:#b2b2b2; transition: width 0.25s ease-in-out;}
.footer .link_item:first-child .link_anchor{color: #ef5665;}
.footer .link_item:first-child .link_anchor:before{background-color: #ef5665;}
.footer .link_item:hover .link_anchor:before{width: 100%;}

@media all and (max-width: 1600px) {
    .footer .link_item{padding: 0 20px;}
}
@media all and (max-width: 1300px) {
    .footer .link_item{padding: 0 12px;}
}
@media all and (max-width: 1000px) {
    .footer .link{display: block; width: 100%;}
    .footer .link:before{display:block; position:absolute; bottom:0; left:50%; z-index: 1; width:100vw; border-bottom:1px solid #d9d9d9; transform:translateX(-50%);}
    .footer .link_item{padding: 0 3%;}
}
@media all and (max-width: 640px) {
    .footer .link_list{padding: 23px 0 24px;}
    .footer .link_anchor{font-size: 13px;}
    .footer .link_item{padding:0 16px 0 15px;}
    .footer .link_item:last-child{padding-right:0;}
}


/* 하단 관련사이트 */
.footer .site{display:inline-block; position:relative; float: right; font-size:0; line-height:0}
.footer .site_item{display:inline-block; position:relative; width:277px; border-right: 1px solid #e9e9e9;}
.footer .site_item:first-child{border-left: 1px solid #e9e9e9;}
.footer .site_show{display:block; width:100%; position:relative; padding:23px 45px 24px 19px; text-align:left; color:#666666; font-size:16px; line-height:24px; letter-spacing:-0.025em; font-weight:300;}
.footer .site_item.active .site_show{background:#f3f7fb;}
.footer .site_item.active .site_show{z-index:1; border-radius: 0 0 12px 12px;}
.footer .site_item.active .site_show{font-weight: 500;}
.footer .site_item.active .site_show:before{display: block; position: absolute; top: 0; left: 0; right: 0; width: calc(100% - 38px); height: 1px; margin: 0 auto; background-color: #cdcdcd;}
.footer .site_item.active .site_show:after{display:block; position:absolute; top:-1px; left:-1px; width: 100%; height: 100%; border:1px solid #cbccd0; border-top: 0; border-radius: 0 0 12px 12px;}

.footer .site_show span{position: relative; z-index: 1; width: 100%;}
.footer .site_show span:before{display:block; position:absolute; top:2px; right:-24px; bottom:0; width:10px; height:7px; z-index: 1; margin: auto 0; background: url("../../../site/edtotal/images/common/footer_sprite.png") no-repeat left top;}
.footer .site_item.active .site_show span:before{transform: rotate(180deg);}

.footer .site_panel{display:none; position:absolute; bottom:70px; left:-1px; width:calc(100% + 2px); padding:18px 6px 12px 15px; border-radius: 12px 12px 0 0; border: 1px solid #cbccd0; border-bottom: 0; background-color: #f3f7fb;}
.footer .site_ul{max-height:275px; overflow-y: auto;}
.footer .site_ul::-webkit-scrollbar{width:22px;}
.footer .site_ul::-webkit-scrollbar-thumb{height:10%; border:9px solid #f3f7fb; border-radius:100px; background-color:rgba(0, 0, 0, 0.25);}
.footer .site_ul::-webkit-scrollbar-track{background-color:#f3f7fb;}
.footer .site_li{position: relative;}
.footer .site_anchor{position:relative; width: 100%; padding-left: 10px; border-radius: 6px; color:#636363; font-size:15px; line-height:30px; letter-spacing: -0.025em; font-weight: 300; text-decoration: none;}
.footer .site_anchor:before{display: block; position: absolute; bottom: 0; left: 0; width: 0; height: 1px; background-color: #222222; transition: width 0.25s ease-in-out;}
.footer .site_li:hover .site_anchor{background-color:#d7e7f8; color: #333333; font-weight: 500;}

/* 하단 sns */
.footer .footer_right{display: inline-block; position: absolute; top:-19px; right: 0; font-size: 0; line-height: 0;}
.footer .footer_sns{display: inline-block; position: relative; margin-top: 32px; margin-right: 31px; vertical-align: top;}
.footer .footer_sns ul li{display: inline-block; position: relative; width: 34px; height: 34px; margin: 0 10px;}
.footer .footer_sns ul li .footer_sns_anchor{display: block; position: relative; width: 100%; height: 100%; border-radius: 50%; background-color: #666666;}
.footer .footer_sns ul li .footer_sns_anchor:before{display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background-image: url("../../../site/edtotal/images/common/footer_sprite.png"); background-repeat: no-repeat;}
.footer .footer_sns ul li:nth-child(1) .footer_sns_anchor:before{width:10px; height:17px; background-position: left -52px;}
.footer .footer_sns ul li:nth-child(2) .footer_sns_anchor:before{width:15px; height:15px; background-position: left -79px;}
.footer .footer_sns ul li:nth-child(3) .footer_sns_anchor:before{width:20px; height:17px; background-position: left -104px;}
.footer .footer_sns ul li:nth-child(1):hover .footer_sns_anchor{background-color: #4765a1;}
.footer .footer_sns ul li:nth-child(2):hover .footer_sns_anchor{background-color: #000;}
.footer .footer_sns ul li:nth-child(3):hover .footer_sns_anchor{background-color: #2db400;}

/* 하단 배너 */
.footer .banner{display:inline-block; position:relative; width: 277px; height:100px; border:1px solid #e9e9e9; border-radius: 10px; background-color: #f6f8f9; text-align: center; font-size: 0; line-height: 0;}
.footer .banner_item{height: 100px;}
.footer .banner_anchor{display: block; position: relative; width: 100%; height: 100%;}
.footer .banner_anchor img{position: absolute; top: 0; bottom: 0; left: 0; right:34px; margin: auto;}
.footer .banner_control{position:absolute; top:0; bottom:0; right:17px; height: 69px; margin:auto 0; font-size:0; line-height:0}
.footer .banner_control .slick-arrow{display:block; position:relative; width:20px; height:23px;}
.footer .banner_control .slick-arrow:before{display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 10px; height: 7px; margin: auto; background-image: url("../../../site/edtotal/images/common/footer_sprite.png"); background-repeat: no-repeat; background-position: left -17px;}
.footer .banner_control .banner_next:before{transform: rotate(180deg);}
.footer .banner_control .slick-play:before{left:-2px; height:10px; transform: rotate(90deg);}
.footer .banner_control .slick-pause:before{width:7px; height:8px; background-position: left -34px;}
.footer .banner_more{display:inline-block; width:20px; height:20px; margin-left:5px; background-color:#000; vertical-align:top}


/* 하단 정보 */
.footer .footer_content{position:relative; margin-top:35px; margin-bottom:130px}
.footer .info{display:block; font-size: 15px; line-height: 22px; letter-spacing: -0.025em; font-weight: 200; color:#666666;}
.footer .info .info_tel{margin-left: 20px;}
.footer .info .info_copyright{margin-top:14px; letter-spacing: 0; color:#898989;}

@media all and (min-width: 1001px) {
    .footer .site_item:hover .site_show{background:#f3f7fb;}
}
@media all and (max-width:1300px){
    .footer .site_item{width: 206px;}
    .footer .site_panel{padding-left: 10px; padding-right: 0;}
    .footer .site_anchor{font-size: 14px;}
}
@media all and (max-width:1000px){
    .footer .site{display: block; float: none; z-index: 1;}
    .footer .site_item{width: calc(100% / 3);}
    .footer .site_item:first-child{border-left: 0;}
    .footer .site_item:last-child{border-right: 0;}

    .footer .footer_sns{display: none;}
}
@media all and (max-width:800px){
    .footer .info .info_tel{display: block; margin-left: 0;}
    .footer .footer_right{top: -6px;}

}
@media all and (max-width:640px){
    .footer .site_list{padding: 9px 0 12px;}
    .footer .site_item{width:100%; border-right: 0;}
    .footer .site_item.active .site_panel{z-index: 1;}
    .footer .site_item.active .site_show{z-index: 2;}
    .footer .site_show{padding:10px 45px 9px 11px; font-size: 14px;}
    .footer .site_show span:before{right:-36px; transform: scale(0.8);}
    .footer .site_panel{bottom: 43px;}
    .footer .site_anchor{font-size: 13px; line-height: 28px;}

    .footer .footer_content{margin-top:31px; text-align: center;}
    .footer .footer_right{position: relative; top: auto;}
    .footer .info{margin-top:18px; font-size: 13px;}
    .footer .info .info_copyright{margin-top: 9px;}
}
